<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinuo.mapper.ShopMapper">

	<resultMap id="results" type="Shop">
		<result property="id" column="pk_id" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
    <insert id="insert" parameterType="Shop" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_shop(`name`, `create_time`)
		VALUES(#{name}, now())
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="results">
		SELECT * 
		FROM t_shop
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="results">
        SELECT * 
        FROM t_shop
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="results">
        SELECT * 
        FROM t_shop
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_shop
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
	<update id="update" parameterType="Shop">
		UPDATE t_shop
		<set>
			<if test="name != null">
				`name` = #{name},
			</if>
			<if test="createTime != null">
				`create_time` = #{createTime},
			</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_shop
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_shop
    </delete>

	<select id="selectByName" parameterType="Map" resultMap="results">
		SELECT *
		FROM t_shop
		WHERE name = #{name}
		limit 1
	</select>

	<select id="selectByLikeName" parameterType="Map" resultMap="results">
		SELECT *
		FROM t_shop
		WHERE name like "%"#{name}"%"
		limit #{limit}
	</select>

</mapper>