<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinuo.mapper.CardMapper">

	<resultMap id="results" type="Card">
		<result property="id" column="pk_id" />
		<result property="userId" column="fk_user_id" />
		<result property="card" column="card" />
		<result property="number" column="number" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
    <insert id="insert" parameterType="Card" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_card(`fk_user_id`, `card`, `number`, `create_time`)
		VALUES(#{userId}, #{card}, #{number}, now())
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="results">
		SELECT * 
		FROM t_card
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="results">
        SELECT * 
        FROM t_card
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="results">
        SELECT * 
        FROM t_card
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_card
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
	<update id="update" parameterType="Card">
		UPDATE t_card
		<set>
			<if test="userId != null">
				`fk_user_id` = #{userId},
			</if>
			<if test="card != null">
				`card` = #{card},
			</if>
			<if test="number != null">
				`number` = #{number},
			</if>
			<if test="createTime != null">
				`create_time` = #{createTime},
			</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_card
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_card
    </delete>

	<select id="selectByUserId" parameterType="Map" resultMap="results">
		SELECT *
		FROM t_card
		WHERE fk_user_id = #{userId}
	</select>

	<select id="selectByUserCardId" parameterType="Map" resultType="Integer">
		SELECT count(1)
		FROM t_card
		WHERE fk_user_id = #{userId}
		and `card` = #{card}
	</select>

	<delete id="updateNumber" parameterType="Map">
		update t_card
		set
		`number` = `number` + #{number}
		where fk_user_id = #{userId} and `card` = #{card} and `number` + #{number} &gt;= 0
	</delete>

</mapper>